<div class="check-in flex flex-col gap-8 p-6 max-w-full mx-auto sm:my-24 sm:border-solid sm:border-2 border-black">
  <span class="text-center text-5xl leading-tight uppercase font-semibold">
    Retrieve your booking
  </span>

  <p class="text-2xl">
    You can find your booking by filling out your familiy name and the booking
    code in your booking confirmation.
  </p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <label for="code" class="text-xl font-semibold">Booking code</label>
      <input id="code" formControlName="code" type="text" class="form-input text-xl" />
    </div>

    <div class="flex flex-col gap-1 text-xl">
      <label for="name" class="text-xl font-semibold">Family name</label>
      <input id="name" formControlName="name" type="text" class="form-input text-xl" />
    </div>

    <button type="submit" class="mt-2 p-3 bg-red-600 hover:bg-red-700">
      <span class="text-xl text-white">Retrieve booking</span>
    </button>
  </form>
</div>
